  <!-- Modal -->
    <div class="modal fade container" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title" style="text-align:center;">Create a Story</h3>
                </div>
                <div class="modal-body">
                    <form ng-submit="PostStory()" method="post">
                        <div class="form-group">
                            <label class="col-sm-2" for="inputSubject">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="title" placeholder="Story Title" required autofocus>
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12" for="inputBody">Post</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control" ng-model="post" rows="15" style="resize: none;" required></textarea>
                                </div>
                        </div>
                        <div style="text-align:center;">
                            <button type="submit" class="btn btn-primary" style="margin-left:3%;margin:1%;">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/" style="font-family:Chiller;font-weight:bold;font-size:290%;">Story Corner</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/Contact">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="">
                        <i class="glyphicon glyphicon-user"></i> {{fullname}} <span class="caret"></span></a>
                        <ul id="g-account-menu" class="dropdown-menu" role="menu">
                            <li><a href ng-click="Logout()"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>{{groupname}}</h1>
            </div>
        </div>
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-4" style="float:right;">
                <!-- Blog Search Well -->
                <div style="text-align: center; margin-bottom:20px;">
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Create a Story</button>
                </div>
                <div class="well">
                    <h4>Search for Stories</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="query">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
            </div>
                <hr style="border-width: 5px;">

            <div class="col-md-8" ng-repeat="Story in story | filter:query">

                <h2><a href="">{{Story.title}}</a></h2>
                <p class="lead">by <a href="">{{Story.username}}</a></p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{Story.timestamp}}</p>
                <hr>
                <p>{{Story.post}}</p>
                <hr>
                <p ng-repeat="Comments in comments" ng-if="Story._id == Comments.postid"><a href="">{{Comments.username}}:</a> {{Comments.comment}} {{Comments.timestamp}}</p>
                <hr>
                <form ng-submit="PostComment(Story._id,x)" method="post">
                <input type="text" class="form-control" ng-model="x.comment" placeholder="Write a Comment" required>
                <button class="" type="submit" ng-show="false"></button>
                </form>
                <hr style="border-width: 5px;">

            </div>

            <!-- Blog Sidebar Widgets Column -->

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p style="text-align:center;">Copyright &copy; Pi Labs, inc. 2015</p>
                </div>
                <!-- /A.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>