
<!-- Second (About) section -->


	<div class="container">
	<div id="container" style="height:100px;"></div>
		<h2 class="text-center title">About me</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">    
				<h5><strong>Who am I?<br></strong></h5>
				<p>Well, here it is: I am a student of FAST NUCES Karachi Campus studying Computer Science. I started developing Applications from 1st year of university.I am a full-fledged developer of websites,Desktop applications and Mobile applications. I work with people who prefer thier work among every thing else.I am very passionate about
				analyzing problems and providing their solutions in the world of Computer Science.
				</p>    
			</div>
			<div class="col-sm-4">
				<h5><strong>More, !<br></strong></h5>    
				<p>This website was not made to hurt feelings of teachers but to know what students think about them being taught by them
				</p>    
			</div>
		</div>
	</div>

