
<!-- Main (Home) section -->

	<div class="container">
<div id="container" style="height:100px;"></div>
		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title">RateIt</h1>
				<h2 class="subtitle">Take your favourite personalities to the top</h2>

				<!-- Short introductory (optional) -->
				<h3 class="tagline">
					Potentially, the best place to tell people where they are.<br>
					So, feel free to express our feelings here,your id is completely secure and confidential.
				</h3>
				
				<!-- Nice place to describe your site in a sentence or two -->
				<p><a ng-href="/#/rateit" class="btn btn-default btn-lg">Begin Now</a></p>
	
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
