<div id="container" style="height:100px;"></div>
    <div class="container">
    
        <h2 class="text-center title">Get youself ready to rate</h2>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                        <form role="form" ng-submit="submit()" ng-controller="AdminController">
                            <fieldset>
                            <div class="form-group">
                                    <input class="form-control transparent-input" placeholder="Image URL" name="username" type="username" ng-model="timage" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control transparent-input" placeholder="Username" name="username" type="username" ng-model="tusername" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control transparent-input" placeholder="Department" name="username" type="username" ng-model="tdep" autofocus>
                                </div>
                                <button type="submit" class="btn btn-default">Add</button>
                            </fieldset>
                        </form>
            </div>
        </div>

    </div>
